body {
    font-family: monospace;
    padding-top: 50px;
}

div.gallery img {
    width: 100%;
    height: auto
}

div.artwork {
    width: 70%;
}

* {
    box-sizing: border-box;
}

img.artwork {
    width: 80%;
}

img.large-centered {
    width: 65%;
}

a.tag {
    padding-right: 10px;
}

.series-large {
    padding: 0 6px;
    float: left;
    width: 39.9999%;
}

.blog-post {
    width: 50%;
}

.center {
    text-align: center;
}

.back {
    text-align: left;
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.caption {
  font-style: italic;
  font-size: 8pt;
}

.button {
    background-color: grey;
    border: none;
    color: white;
}

.large-textbox {
    height: 300px;
    width: 90%;
}

.med-textbox {
    width: 90%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.scroll-contain {
    position: absolute;
    background-color: #e33946;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
}

.banner-link a {
    display: block;
    padding: 15px 32px;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: 20px;
    align-content: center;
}

.responsive-banner a {
    font-size: 15px;
}