{% extends "base.html" %}
{% block body %}
<body class="blog-post responsive">
<p><a href="{% if not request.referrer %}/blog {% else %}/{{ ('/').join(request.referrer.split('/')[3:]) }}{% endif %}">back</a></p>

{% for post in reversed(all_posts) %}
{% set post_info = all_posts[post] %}
<a target="" href="/blog/{{ post }}">
<h3>{{ post_info.format_date_title() }}</h3>
</a>
<p>{{ post_info.create_markdown(post_info.en) }}</p>
<p>{{ post_info.create_markdown(post_info.kr) }}</p>

{% for image in all_posts[post].images %}
{% if image[0] == '<' %}{{ post_info.create_markdown(image) }}
{% elif image != '' %}
<img class="blog-post responsive" src="{{ url_for('static', filename='imgs/' + image) }}"></img>
<br>
{% endif %}
{% endfor %}

<p>{% for tag in post_info.tags %}<a class="tag" href="/blog/tag/{{ tag }}">{{ tag }}</a>{% endfor %}</p>
<br>
{% endfor %}
</body>
{% endblock %}