{% extends "base.html" %}
{% block body %}
<body class="blog-post responsive">
<p><a href="{{ url_for('blog') }}">back</a></p>

<h3>{{ content.format_date_title() }}</h3>
<p>{{ content.create_markdown(content.en) }}</p>
<p>{{ content.create_markdown(content.kr) }}</p>

{% for image in content.images %}
{% if image[0] == '<' %}{{ content.create_markdown(image) }}
{% elif image != '' %}
<img class="blog-post responsive" src="{{ url_for('static', filename='imgs/' + image) }}"></img>
<br>
{% endif %}
{% endfor %}

<p>{% for tag in content.tags %}<a class="tag" href="/blog/tag/{{ tag }}">{{ tag }}</a>{% endfor %}</p>
<br>
</body>
{% endblock %}