{% extends "base.html" %}
{% block body %}
<body class="center">
<p class="back"><a href="/">back</a></p>
<h1>a.tbd's</h1>
<h3>about me</h3>
<br>
<p>I’m an artist and writer based in New York City.  I create experimental technology that couples biological and electronic components.  My work draws from science, engineering, history, and sociology to explore questions of identity and alienation. Inspired by body horror, science fiction, and DIY and hacker culture, my work seeks to make you feel uncomfortable, strange, and out-of-place.</p>
<p>ann [at] a-tbd [dot] com  |  <a href="/external/http://github.com/a-tbd">github</a></p>
<br>
<img class="large-centered responsive" src="{{ url_for('static', filename='imgs/about.jpg') }}"></img>
</body>
{% endblock %}