{% extends "base.html" %}
{% block body %}

<body>
  <p><a href="/">back</a></p>
  {% for artwork in artworks %}
  {% set artwork_info = artworks[artwork] %}
    <div class="series-large responsive">
    <div class="gallery">
      <a target="_self" href="{{ series }}/{{ artwork_info['url'] }}">
        <img src="{{ url_for('static', filename='imgs/' + artwork_info['thumbnail']) }}" alt="{{ artwork_info['title'] }}. ({{ artwork_info['year'] }}).">
      </a>
      <p class="caption">{{ artwork_info['title'] }}. ({{ artwork_info['year'] }}).</p>
    </div>
  </div>
  {% endfor %}

  <div class="clearfix"></div>
</body>
{% endblock %}